.md-main__inner {
    margin-left: 10px;
    margin-right: 10px;
}

.md-grid {
    max-width: 100rem;
}

.md-typeset table:not([class])
{
    font-size: 0.75rem;
}

.md-typeset details {
    font-size: 0.75rem;
}

.md-typeset .admonition {
    font-size: 0.75rem;
}
